<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607730141496-7lo9vmbi04rsfvreh7l2ae7n04d33ph4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607730141496-7lo9vmbi04rsfvreh7l2ae7n04d33ph4</string>
	<key>API_KEY</key>
	<string>AIzaSyCTljhX5BwlDKyi9JFqM5Vx7AHLVBlTq0g</string>
	<key>GCM_SENDER_ID</key>
	<string>607730141496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josesantiago.grafica-satisfaccion</string>
	<key>PROJECT_ID</key>
	<string>test-5e0e0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5e0e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607730141496:ios:ed6aa49381eb9518</string>
	<key>DATABASE_URL</key>
	<string>https://test-5e0e0.firebaseio.com</string>
</dict>
</plist>